.tiaomu {
	border-radius: 5px;
	border-style: solid solid solid solid;
	border-width: thin thin thin thin;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	background-color:#FFFFFF;
}

.left-txt {
	margin-left: 10px;
}

.right-txt {
	margin-right: 10px;
}


.right-txt {
	margin-right: 10px;
}

.select-no-border {
	border-style: none none none none;
}
