.tiaomu {
	border-radius: 5px;
	border-style: solid solid solid solid;
	border-width: thin thin thin thin;
	border-color: #C0C0C0 #C0C0C0 #C0C0C0 #C0C0C0;
}

.tiaomu1 {
	border-style: solid solid solid solid;
	border-width: 0px 0px 0px 0px;
	border-color: #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
}