.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.90;
	visibility:hidden;
}

.account-list-line {
	border-bottom: 1px solid lightgray;
	overflow: hidden;
}

.tiaomu {
	border-radius: 5px;
	border-style: solid solid solid solid;
	border-width: thin thin thin thin;
	border-color: #C0C0C0 #C0C0C0 #C0C0C0 #C0C0C0;
}

.span-border {
	height: 35px;
	width: 35px;
	font-size: 18px;
	font-weight: bold;
	color: #F3791F;
	padding-top:5px;
	background-color: #F1F3F7;
	border-radius: 100px;
}

.left-txt {
	margin-left: 10px;
}

.right-txt {
	margin-right: 10px;
}

.select-no-border {
	border-style: none none none none;
}

.circle {
	width: 100px;
	height: 100px;
	background-color: #F1F3F7;
	border-radius: 50px;
}

.bottonsolid {
	border-radius: 5px;
	border-style: solid solid solid solid;
	border-width: thin thin thin thin;
}

.floatleft {
	float: left;
}

.iamges {
	width: 50px;
	height: 50px;
	margin-left: 5px;
}